* {
    /* margin: 0; */
    padding: 0;
    text-align: justify;
}

body {
    background-color: #ffc4e4;
    font-size: 12px;
}

.menu {
    position: relative;
    font-size: 13px;
    margin: 0px auto;
    width: auto;
    float: left;
    background-color: #b6babb;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    position: relative;
    border-right: 1px solid #e9e9e9;
    width: auto;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

nav ul li a:hover {
    background: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

nav ul li.active a {
    color: #d94a38;
    background: #333;
}

nav ul li ul {
    display: none
}

nav ul li:hover ul {
    display: block;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 999;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    padding: 3px 0;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #c12727;
    border-right-color: #dfdfdf;
    border-bottom-color: #dfdfdf;
    border-left-color: #dfdfdf;
}

nav ul li:hover ul li {
    padding: 8px 13px;
    border-top: 1px solid #efefef;
    float: none;
    background: #fff;
    width: 160px;
    border-right: 0;
}

nav ul li:hover ul li a {
    color: #2d2d2d;
    font-size: 12px;
    padding: 0;
    text-align: left;
    background: #fff;
}

nav ul li:hover ul li a:hover {
    color: #c12727;
    background: #fff;
}

nav ul li.last:hover ul li {
    border-right: 0;
    width: 95px;
}

.dropdown-submenu>.dropdown-menu {
    display: none;
    margin: -20px 0 0 173px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

table.times {
    border: 3px solid black;
    font-size: 180%;
    text-align: center;
    width: 95%;
}

table.times td {
    border: 1px solid blue;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: #cac7c7;
}

#customers td tr {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0704aa;
    color: white;
}

div.divisao {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}